docs/html-table-scraper-gmail-automation.json
{
  "name": "html-table-scraper-gmail-automation",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.github.com/repos/ozgunes91/html-table-scraper-gmail-automation/actions/workflows/automation.yml/dispatches",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "token ghp_*******"
            },
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "User-Agent",
              "value": "n8n-workflow"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "ref",
              "value": "main"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -272,
        -176
      ],
      "id": "6655cf5f-45b8-41b6-af24-0f99ed93669d",
      "name": "HTTP Request (dispatch /automation.yml)"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 18
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -560,
        -176
      ],
      "id": "89891bd7-859d-44e4-bcad-3c6954fc793a",
      "name": "GitHub Workflow Dispatch"
    },
    {
      "parameters": {
        "url": "https://api.github.com/repos/ozgunes91/html-table-scraper-gmail-automation/actions/artifacts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer ghp_*******"
            },
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "User-Agent",
              "value": "n8n-workflow"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -16,
        -176
      ],
      "id": "2003c646-f4c2-4641-8ee2-05affa27564a",
      "name": "GitHub: List Artifacts"
    },
    {
      "parameters": {
        "jsCode": "// Extract the JSON payload returned from the previous HTTP Request node\nconst data = items[0].json;\n\n// GitHub API response structure: { total_count, artifacts: [...] }\nconst artifacts = data.artifacts || [];\n\n// If no artifacts exist, stop the workflow by returning an empty array\nif (!artifacts.length) {\n\treturn [];\n}\n\n// GitHub returns artifacts sorted by creation date (newest first)\nconst latest = artifacts[0];\n\n// Output only the latest artifact details\nreturn [\n\t{\n\t\tjson: {\n\t\t\tartifact_id: latest.id,\n\t\t\tartifact_name: latest.name,\n\t\t\tdownload_url: latest.archive_download_url,\n\t\t\tcreated_at: latest.created_at\n\t\t}\n\t}\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        256,
        -176
      ],
      "id": "8005d8fb-aa52-41a1-aa65-aca37cb6608a",
      "name": "Artifact: Pick Latest (Code)"
    },
    {
      "parameters": {
        "url": "={{$json[\"download_url\"]}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer ghp_*******"
            },
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "User-Agent",
              "value": "n8n-workflow"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        528,
        -176
      ],
      "id": "9ff70c26-b087-4016-82f4-62b2718b0509",
      "name": "Save Excel Output (Download Artifact)"
    }
  ],
  "pinData": {},
  "connections": {
    "HTTP Request (dispatch /automation.yml)": {
      "main": [
        [
          {
            "node": "GitHub: List Artifacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub Workflow Dispatch": {
      "main": [
        [
          {
            "node": "HTTP Request (dispatch /automation.yml)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub: List Artifacts": {
      "main": [
        [
          {
            "node": "Artifact: Pick Latest (Code)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Artifact: Pick Latest (Code)": {
      "main": [
        [
          {
            "node": "Save Excel Output (Download Artifact)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Excel Output (Download Artifact)": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "ef10d4c7-12e5-4889-ab71-9e0d1e26a65a",
  "meta": {
    "instanceId": "7f7c9a60fbc866b8ac20bbb1ab39739ea8d3e8fd1f1bd49a1936f5e2c4ecc2b7"
  },
  "id": "J6tHyRqh0tpriqwJ",
  "tags": []
}